.sale-hide {
    transform: scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: absolute;
    transform-origin: center center;
    z-index: 100;
}

.sale-show {
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.scrollbar::-webkit-scrollbar {
    width: 2px;
    padding: 0;
    margin: 0;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 0 16px 16px 0; /* Bordes redondeados solo en el lado derecho */
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
