.sale-hide {
    transform: scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: absolute;
    left: 40%;
    top:16%;
    transform-origin: center center;
    z-index: 100;
}

.sale-show {
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: absolute;
    top: 16%;
    left: 40%;
    width: 28rem;
    z-index: 100;
    height: 600px;
    background: white; /* Fondo para que la barra de desplazamiento no se vea fuera */
}
.scrollbar::-webkit-scrollbar {
    width: 3px;
    padding: 0;
    margin: 0;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 0 16px 16px 0; /* Bordes redondeados solo en el lado derecho */
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
